@inherits Umbraco.Web.Mvc.UmbracoViewPage<HeaderViewModel>
@using UmbracoPortfollio.Logic.Models.ViewModels;
@{ 
}
<!-- Header -->
<div class="callout xl-large background-image header" style="@Umbraco.If(Model.Image != null,"background-image: url('"+Model.Image.Url+"')");">
    <div class="row column header-text-center " style = "color:#@Model.Colour;">
        <h1>@Model.Title</h1>
        <p class="sub-header">@Model.Description</p>
        @if (!string.IsNullOrWhiteSpace(Model.Link.Url))
        {
        <a href="@Model.Link.Url" class="button large hollow">@Model.Link.Meta.Title</a>
        }
    </div>
</div>
<!-- //Header -->