@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using UrlPickerExtensions
@{ 
    var header = Model.Content.GetPropertyValue<IPublishedContent>("header");
    var image = Model.Content.GetHeaderImage();
    var link = header.GetPropertyValue<UrlPicker>("link");
    var title = header.GetPropertyValue<string>("title");
    var description = header.GetPropertyValue<string>("description");
    var colour = header.GetPropertyValue<string>("textColour");
}

<!-- Header -->
<div class="callout xl-large background-image" style="background-image: url('@image.Url');">
    <div class="row column header-text-center " style = "color:#@Umbraco.If(!string.IsNullOrWhiteSpace(colour),colour,"00000")">
        <h1>@title</h1>
        <p class="lead">@description</p>
        @if (!string.IsNullOrWhiteSpace(link.Url))
        {
        <a href="@link.Url" class="button large hollow">@link.Meta.Title</a>
        }
    </div>
</div>
<!-- //Header -->