@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var home = Model.Content.AncestorOrSelf(1);
    var contact = home.Children.FirstOrDefault(x => x.DocumentTypeAlias == "contact");
    var blog = home.Children.FirstOrDefault(x => x.DocumentTypeAlias == "blogHome");
    var aboutus = home.Children.FirstOrDefault(x => x.DocumentTypeAlias == "aboutMe");
    var search = home.Children.FirstOrDefault(x => x.DocumentTypeAlias == "search");
    var services = home.Children.FirstOrDefault(x => x.DocumentTypeAlias == "services");
}

<!-- Navigation -->
<div class="top-bar compact-menu">
    <div class="top-bar-left">
        <ul class="dropdown menu " data-dropdown-menu>
            <li>
                <a class="" href="@home.Url" rel="home">
                    <img class="" src="~/Images/logo.png" height="45" width="40" alt="Biggsy150">
                </a>
            </li>
            <li class=""><a class="" href="@aboutus.Url">About Me</a></li>
            <li class=""><a class="" href="@services.Url">Services</a></li> 
            <li class=""><a class="" href="@blog.Url">Blog</a></li>
            <li class=""><a class="" href="@contact.Url">Contact</a></li>
        </ul>
    </div>
    <div class="top-bar-right ">
        <ul class="menu">
   
            <li class="hide-for-small-only"><input type="search" placeholder="Search"></li>
            <li class="hide-for-small-only"><button type="button" class="button">Search</button></li>
        </ul>
    </div>
</div>

@*<header class="header">
    <div class="header-logo">
        <a class="header-logo__link" href="@home.Url" rel="home">
            <img class="" src="~/Images/logo.png" alt="Biggsy150">
        </a>
    </div>	
    <button class="navigation-open">
        <i class="navigation-open__icon"></i>
        <span class="navigation-open__text">Menu</span>
    </button>
    <form class="header-search" method="get" action="@search.Url" role="search">
        <div class="header-search__group">
            <input id="header-search-field" class="header-search__field" type="search" name="q" value="" required="">
            <label class="header-search__label" for="header-search-field">Search</label>
        </div>
        <button class="header-search__button" type="submit">
            <span class="header-search__button__text">Toggle search</span>
        </button>
    </form>
</header>
<nav class="navigation">
    <p class="navigation__title">Menu</p>
    <button class="navigation__close">Close menu</button>
    <form class="navigation__search" method="get" action="@search.Url" role="search">
        <input id="navigation-search-field" class="navigation__search__field" type="search" name="q" value="" placeholder="Search …" required="">
    </form>
    <ul class="navigation__list --depth-0">
        <li class="navigation__item --depth-0"><a class="navigation__link --depth-0" href="@aboutus.Url">About Me</a></li>
        <li class="navigation__item --depth-0"><a class="navigation__link --depth-0" href="@blog.Url">Blog</a></li>       
        <li class="navigation__item --depth-0"><a class="navigation__link --depth-0" href="@contact.Url">Contact Me</a></li>
    </ul>
</nav>*@
<!-- //Navigation -->
