@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var home = Model.Content.AncestorOrSelf(1);
    var contact = home.Children.FirstOrDefault(x => x.DocumentTypeAlias == "contact");
    var blog = home.Children.FirstOrDefault(x => x.DocumentTypeAlias == "blogHome");
    var aboutus = home.Children.FirstOrDefault(x => x.DocumentTypeAlias == "aboutMe");
    var search = home.Children.FirstOrDefault(x => x.DocumentTypeAlias == "search");
    var services = home.Children.FirstOrDefault(x => x.DocumentTypeAlias == "services");
}

<!-- Navigation -->
<!--
<div class="top-bar compact-menu">
    <div class="top-bar-left">
        <ul class="dropdown menu " data-dropdown-menu>
            <li>
                <a class="" href="@home.Url" rel="home">
                    <img class="" src="~/Images/logo.png" height="45" width="40" alt="Biggsy150">
                </a>
            </li>
            <li class=""><a class="" href="@aboutus.Url">About Me</a></li>
            <li class=""><a class="" href="@services.Url">Services</a></li> 
            <li class=""><a class="" href="@blog.Url">Blog</a></li>
            <li class=""><a class="" href="@contact.Url">Contact</a></li>
        </ul>
    </div>
    <div class="top-bar-right ">
        <ul class="menu">
   
            <li class="hide-for-small-only"><input type="search" placeholder="Search"></li>
            <li class="hide-for-small-only"><button type="button" class="button">Search</button></li>
        </ul>
    </div>
</div>
-->

        <!-- off-canvas title bar for 'small' screen -->
        <div class="title-bar" data-responsive-toggle="widemenu" data-hide-for="medium">
            <div class="title-bar-left">                
                <span class="title-bar-title">
                    <a class="" href="@home.Url" rel="home">
                        <img class="" src="~/Images/logo.png" height="45" width="40" alt="Biggsy150">
                    </a>
                </span>
                <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
            </div>
        </div>

        <!-- off-canvas left menu -->
        <div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
            <button class="close-button" aria-label="Close menu" type="button" data-close="">
                <span aria-hidden="true">×</span>
            </button>
            <ul class="vertical menu" data-dropdown-menu>
                <li class=""><a class="" href="@aboutus.Url">About Me</a></li>
                <li class=""><a class="" href="@services.Url">Services</a></li>
                <li class=""><a class="" href="@blog.Url">Blog</a></li>
                <li class=""><a class="" href="@contact.Url">Contact</a></li>
            </ul>
        </div>

        <!-- "wider" top-bar menu for 'medium' and up -->
        <div id="widemenu" class="top-bar">
            <div class="top-bar-left">
                <ul class="dropdown menu " data-dropdown-menu>
                    <li>
                        <a class="" href="@home.Url" rel="home">
                            <img class="" src="~/Images/logo.png" height="45" width="40" alt="Biggsy150">
                        </a>
                    </li>
                    <li class=""><a class="" href="@aboutus.Url">About Me</a></li>
                    <li class=""><a class="" href="@services.Url">Services</a></li>
                    <li class=""><a class="" href="@blog.Url">Blog</a></li>
                    <li class=""><a class="" href="@contact.Url">Contact</a></li>
                </ul>
            </div>
        </div>

       <!-- close wrapper, no more content after this -->