@inherits Umbraco.Web.Mvc.UmbracoViewPage<BlogHomeViewModel>
@using UmbracoPortfollio.Logic.Models
@{
    Layout = "Root.cshtml";
    var q = Request.QueryString["q"];
    var page = 0; // The page we are viewing
    var pageSize = 9; // How many items per page
    var postCount = 0;
    if (posts.Any())
    {
        if (!int.TryParse(Request.QueryString["page"], out page))
        {
            page = 1;
        }
        
    }
}
@Html.Partial("Header", Model.Header)
<div class="sections">
    <div>
        <section class="section tags ">
            <div class="text-center row column">
                <ul class="horizontal float-center menu menu-tags">
                    @foreach (var tag in tags.Take(5))
                    {
                        <li class="">
                            <a href="@Model.Content.Url?q=@tag.Text">@tag.Text</a>
                        </li>
                    }
                </ul>
            </div>
        </section>
        <section class="section archive-post">
            <div class="latest-posts" itemscope="" itemtype="http://schema.org/Blog">
                <div class="row column text-center">
                    <h3>Latest posts</h3>
                </div>
                <div class="row medium-up-3 large-up-3">
                    @foreach (var post in posts)
                    {
                        var image = post.GetHeaderImage();
                        var date = post.GetPropertyValue<DateTime>("createTime");
                        var blogTags = post.GetPropertyValue<string>("tag").Split(',');
                        var desc = post.GetPropertyValue<string>("pageIntro");
                        <div class="post column">
                            <a href="@post.UrlWithDomain()" itemprop="url">
                                @if (image != null)
                {
                                    <img class="thumbnail" src="@Url.GetCropUrl(image, "Thumbnail")" itemprop="image">
                                }
                                <h4 itemprop="name headline">@post.Name</h4>
                                <time datetime="@date.ToString()" itemprop="datePublished">
                                    <span>@date.ToString()</span>
                                </time>
                            </a>
                            <div class="post-tags">
                                @foreach (var tag in blogTags)
                                {
                                    <span class="secondary label">
                                        <a class="tag" href="@Model.Content.Url?q=@tag">@tag</a>
                                    </span>
                                }

                            </div>
                        </div>
                    }

                </div>
            </div>
            <div>
                @RazorHelpers.RenderPagination(page, postCount, pageSize)
            </div>
        </section>
    </div>
    <br/>
</div>