@inherits Umbraco.Web.Mvc.UmbracoViewPage<BlogPostViewModel>
@using UmbracoPortfollio.Logic.Models.ViewModels
@{
    Layout = "Root.cshtml";
}
@Html.Partial("Header", Model.Header)
<div>
    <div class="row medium-up-3 large-up-4" itemprop="text">
        <div class="section__container post-content__container" itemid="@Model.Content.UrlWithDomain()" itemscope itemtype="http://schema.org/BlogPosting">
            <meta itemprop="name headline" content="@Model.PageTitle" />
            <time itemprop="datePublished" datetime="@Model.Content.UpdateDate" />
            <time itemprop="dateModified" datetime="@Model.PostCreation" />
            <p itemprop="description">@Model.Description</p>
            <div itemprop="articleBody mainEntityOfPage">
                @Model.Markdown
                @Model.BodyContent
            </div>  
            <div itemprop="author publisher" itemscope="" itemtype="http://schema.org/Person">
                <meta itemprop="name" content="Michael Biggs" />
                <meta itemprop="url" content="http://www.biggsy150.co.uk" />
            </div>          
        </div>        
    </div>
    <div class="row medium-up-3 large-up-4">
        @Html.Partial("Share")
        @Html.Action("RenderComments", "Comment")
        @Html.Action("RenderCommentForm", "Comment")
    </div>
</div>
