@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Root.cshtml";
    var body = Model.Content.GetPropertyValue("bodyContent");
    var recentPosts = Model.Content.Parent.Children.Where(x => x.IsVisible() && x.IsNotEqual(Model.Content)).OrderByDescending(x => x.UpdateDate).Take(5);
    var title = Model.Content.GetPropertyValue("pageTitle");
    var update = Model.Content.UpdateDate;
    var date = Model.Content.GetPropertyValue<DateTime>("createTime");
    var description = Model.Content.GetPropertyValue("pageIntro");
    var markdown = Model.Content.GetPropertyValue("markdown");
    var link = Model.Content.Url;
    var tags = Model.Content.GetPropertyValue("tag");
}

<div>
    <div class="row medium-up-3 large-up-4" itemprop="text">
        <div class="section__container post-content__container" itemid="@Model.Content.UrlWithDomain()" itemscope itemtype="http://schema.org/BlogPosting">
            <meta itemprop="name headline" content="@title" />
            <time itemprop="datePublished" datetime="@date" />
            <time itemprop="dateModified" datetime="@update" />
            <p itemprop="description">@description</p>
            <div itemprop="articleBody mainEntityOfPage">
                @markdown
                @body
            </div>  
            <div itemprop="author publisher" itemscope="" itemtype="http://schema.org/Person">
                <meta itemprop="name" content="Michael Biggs" />
                <meta itemprop="url" content="http://www.biggsy150.co.uk" />
            </div>          
        </div>
        
    </div>
    <div class="row medium-up-3 large-up-4">
        @Html.Partial("Share")
        @Html.Action("RenderComments", "Comment")
        @Html.Action("RenderCommentForm", "Comment")
    </div>
</div>
