@inherits Umbraco.Web.Mvc.UmbracoViewPage<HomeViewModel>
@using UmbracoPortfollio.Logic.Models
@{
    Layout = "Root.cshtml";
} 
@Html.Partial("Header", Model.Header)
<div class="row intro">
    <div class="text-center row column">
        <h2>Who Am I?</h2>
    </div>
    <div class="row column about">
        @Model.BodyContent
    </div>
</div>
<div class="latest-posts" itemscope="" itemtype="http://schema.org/Blog">
    <div class="text-center row column">
        <h2>Latest posts</h2>
    </div>
    <div class="row small-up-2 large-up-4" >
       @foreach (var post in Model.BlogPosts)
       {
        <div class="column blog-card">
            <a href="@post.Content.UrlWithDomain()" itemprop="url">
                @if (post.Header != null)
                {
                <img class="thumbnail" src="@post.Header.Image.ThumbnailUrl" itemprop="image">
                }
                <h4 itemprop="name headline">@post.Content.Name</h4>
                <time datetime="@post.ArticlePublishedDate" itemprop="datePublished">
                    <span>@post.ArticlePublishedDate</span>
                </time>
            </a>
        </div>
       }
    </div>
</div>



