@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Root.cshtml";
    var summersDOB = new DateTime(2015, 12, 10);
    var summersAge = HtmlHelpers.CalculateAge(summersDOB);
    var pNumber = Umbraco.Field("phoneNumber", recursive: true);
    var skype = Umbraco.Field("skypeUsername", recursive: true);
    var email = Umbraco.Field("email", recursive: true);
    var posts = Model.Content.Descendants().Where(x => x.DocumentTypeAlias == "blogPost").OrderByDescending(x=> x.GetPropertyValue<DateTime>("createTime")).Take(6);
    var i = 0;
}
@*	 
    @Html.CachedPartial("SocialMediaStream", Model, 21600)
    @Html.CachedPartial("Modals", Model, 21600)*@

<div class="sections" style="margin-top: 895px;">
    <section class="section front-content">
        <div class="section__container front-content__container">
            <div class="front-content__text">
                <h2>Who Am I?</h2>
                @Umbraco.Field("bodyContent")
            </div>           
        </div>
    </section>
    <section class="section front-post" itemscope="" itemtype="http://schema.org/Blog">
        <div class="section__header">
            <h2 class="section__title front-post__title">Latest posts</h2>
        </div>
            <div class="archive-post__list">
                @foreach (var post in posts)
                {
                    var image = post.GetHeaderImage();
                    var date = post.GetPropertyValue<DateTime>("createTime");
                    var blogTags = post.GetPropertyValue<string>("tag").Split(',');
                    var desc = post.GetPropertyValue<string>("pageIntro");
                    <div class="archive-post__item">
                        <a class="archive-post__item__title__link" href="@post.UrlWithDomain()" itemprop="url">
                            @if (image != null)
                            {
                                <img src="@Url.GetCropUrl(image,"Thumbnail")" class="archive-post__item__image" alt="" itemprop="image">
                            }
                            <time class="archive-post__item__date" datetime="@date.ToString()" itemprop="datePublished">
                                <span class="archive-post__item__date__day">@date.Day</span>
                                <span class="archive-post__item__date__month">@date.ToString("MMM")</span>
                            </time>
                            <div class="archive-post__item__title front-post__item__title" itemprop="name headline">@post.Name</div>
                        </a>                    
                    </div>
                }
            </div>            
    </section>

    <section class="section contact">
        <div class="section__container contact__container">
            <div class="section__header">
                <h2 class="section__title contact__title">Contact Me</h2>
            </div>
            @Html.Action("RenderContactForm", "Contact")
        </div>
    </section>
</div>
