@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Web
@using ClientDependency.Core.Mvc
@using Umbraco.Web;
@using Umbraco.Core.Models;
@using UmbracoPortfollio.App_Code;
@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#" >
    <head>
        <meta charset="utf-8">
        <!--[if IE]> <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'> <![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
        <link rel="dns-prefetch" href="https://code.jquery.com/">
        @Html.Partial("Icons")
        @Html.Partial("SEO")
        @RenderSection("Metadata", required: false)   
        @Html.RenderCssHere()
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css" />
	    <!-- Google Analytics -->
	    @RenderSection("GoogleAnalytics", required: false)
    </head>
    <body id="page-top" class="home page site --loaded" itemscope="" itemtype="http://schema.org/WebPage">           
        <div class="document" role="document">
            @Html.Partial("Naviagtion")
            <main class="main" itemprop="mainContentOfPage">
                @Html.Partial("Header")
                @RenderBody()
            </main>                       
        </div>
        <!-- Copyright Footer -->
        @Html.Partial("Footer")
        <!--// Copyright Footer-->
        @Html.RenderJsHere()
        <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
        @Html.Partial("Scripts")
        @RenderSection("Scripts", required: false)
    </body>		
</html>
