@inherits Umbraco.Web.Mvc.UmbracoViewPage<SitemapViewModel>
@using UmbracoPortfollio.Logic.Models
@{
    Layout = "Root.cshtml";
}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-push-12 text-center">
                <h2>@Model.PageTitle</h2>
                <hr>
            </div>
            <div class="col-md-12">
                <div class="post text">
                    <article>
                        @* Render the sitemap by passing the root node to the traverse helper *@
                        <ul class="nav">
                            <li><a href="@Model.Home.Content.Url">@Model.Home.PageTitle</a></li>
                            @Traverse(Model.Home)                            
                        </ul>
                    </article>
                </div>
            </div>
        </div>
        <hr>
    </div>
</section>

@* Helper method to travers through all descendants *@
@helper Traverse(MasterViewModel parent)
{
var subPages = parent.Content.Children.Select(x => new MasterViewModel(x))
    .Where(x => x.Content.IsVisible() &&
        !x.HideFromSitemap)
    .OrderBy(x => x.Content.SortOrder);
foreach (var page in subPages)
{
        <ul class="nav">
            <li>
                <a href="@page.Content.Url">@page.PageTitle</a>
            </li>
            @if (page.Content.Level <= 4 && page.Content.Children.Any())
            {
                @Traverse(page)
            }
        </ul>
            
    }
}
